/*Reseteo del código CSS (código de Eric Meyer)*/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
        margin: 0; 
        padding: 0; 
        border: 0; 
        outline: 0; 
        font-weight: inherit; 
        font-style: inherit; 
        font-size: 100%; 
        font-family: inherit; 
        vertical-align: baseline; 
} 
/* remember to define focus styles! */ 
:focus { 
        outline: 0; 
} 
body { 
        line-height: 1; 
        color: black; 
        background: white; 
} 
ol, ul { 
        list-style: none; 
} 
/* tables still need 'cellspacing="0"' in the markup */ 
table { 
        border-collapse: separate; 
        border-spacing: 0; 
} 
caption, th, td { 
        text-align: left; 
        font-weight: normal; 
} 
blockquote:before, blockquote:after, 
q:before, q:after { 
        content: ""; 
} 
blockquote, q { 
        quotes: "" ""; 
}

/* Finalización del reseteo del código CSS */ 


body{
	font: normal 4px Sans-serif;
	background: rgba(120,120,120,0.4);

}

#contenedor{
	width: 870px;
	padding-top: 5%;
	margin: auto;
}

ul{
	list-style-type: none;
}

ul>li{
	text-align: center;
	display: inline-block;
	background: #fff;
	width: 870px;
	border: solid 2px #333;
	border-radius: 10px;
	box-shadow: 0 0 20px #111;
}

#logo{
	position: relative;
	top: 20px;
	right: 15px;
	border-radius: 180px 180px 180px 180px;
  	box-shadow: 0px 0px 0px 2px rgba(230,230,230,1);
}

#titulo{
	position: relative;
	vertical-align: top;
	top: 20px;
	left: 15px;
}

#texto1{
	position: relative;
	left: 164px;
	bottom: 19px;
}

#texto2{
	position: relative;
	left: 200px;
	bottom: 19px;
}

#texto3{
	position: relative;
	left: 238px;
	bottom: 12px;
}

#texto4{
	position: relative;
	right: 222px;
	bottom: 17px;
}

#datos{
	display: none;
}

#map{
	width: 300px;
	height: 200px;
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
	border: solid 1px #999;
	border-radius: 4px;
	box-shadow: 0 0 2px #000;
}


p{
	color: #000;
	font-size: 24px;
	text-shadow: 0.5px 0.5px 0.5px #333;
}

.detalles{
	display: none;
	text-align: center;
	margin-top: 25px;
}

#IEsupport{
	display: none;
}

#message-support{
	display: none;
}