*{
	padding: 0;
	margin: auto;
}

body{
	font: normal 5px Tahoma, Verdana, Arial, sans-serif;
	background: rgba(120,120,120,1);
	color: #fff;
}

h1{
	text-align: center;
	padding: 25px;
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	text-shadow: 1px 1px 1px #888;
}

.contenedor{
	width: 870px;
	padding-top: 20px;
}

ul{
	list-style-type: none;
	padding-top: 20px;
}

ul>li{
	text-align: center;
	margin-bottom: 30px;
	display: inline-block;
	background: #fff;
	width: 870px;
	padding: 0px;
	border: solid 2px #333;
	border-radius: 10px;
	box-shadow: 0 0 20px #111;
	position: relative;
}

.logo1{
	width: 150px;
}

.logo2{
	height: 150px;
 	width: 680px;
}

ul>li div.datos{
	display: none;
}

#map{
	margin-top: 10px;
	margin-left: 20px;
	width:300px;
	height:200px;
	float: left;
	margin-bottom: 20px;
	border: solid 0px #222;
	border-radius: 2px;
	box-shadow: 0 0 2px #111;
}


ul>li div.datos p{
	color: #000;
	font-size: 22px;
	text-shadow: 1px 1px 1px #ccc;
	text-align: center;
}

.progress-bar{
    background-color: #1a1a1a;
    height: 80px;
    padding: 8px;
    width: 450px;
    margin: auto;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span{
    display: inline-block;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
}

.blue span{
	background-color: #34c2e3;   
}

.stripes span{
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    	transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    	transparent 75%, transparent);            
    text-align: center;
	animation: animate-stripes 5s linear infinite;          
}

@keyframes animate-stripes{
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}